<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:replace="/layout/header :: header"/>
    <title>Wellcome to Yuld Shop</title>
</head>
<body>
<div>
    <div th:if="${user != null}">
        <div th:if="${role.getCode().equalsIgnoreCase('user')}">
            <th:block th:replace="/layout/navBar-login::navBar-login"/>
        </div>
        <div th:if="${role.getCode().equalsIgnoreCase('admin')}">
            <th:block th:replace="/layout/headerAdmin::headerAdmin"/>
        </div>
    </div>
    <div th:if="${user == null}">
        <th:block th:replace="/layout/navBar::navBar"/>
    </div>
</div>
<div>
    <th:block th:replace="/product/listProducts :: listProducts"/>
</div>
<div>
    <th:block th:replace="/layout/footerJS::footerJS"/>
</div>
<script>
    $('.dropdown-toggle').dropdown()
    $.ajax({
        url: "http://localhost:8080/api/categories",
        type: "GET"
    }).done((data) => {
        let str = ``;
        $.each(data, (i, item) => {
            str += `<a class="dropdown-item" href="http://localhost:8080/api/products?category=${item.id}">${item.category}</a>`
        })
        document.getElementById("productCategories").innerHTML = str;
    }).fail((error) => {

    })

    function renderProduct(product){
       let str =`
                        <div class="col-lg-3 col-md-6 col-sm-12 hei-350 mt-3">
                            <div class="p-3 h-100 w-100">
                                <div class="h-75 w-100 p-2">
                                    <image class="w-100 m-auto ml-auto mr-auto"
                                     src="http://localhost:8080/file/img/${product.img.name}">
                                    </image>
                                </div>
                                <div class="text-center">${product.productName}</div>
                                <div class="text-center">${'$ '+product.price}</div>
<!--                                <div class="row w-100 justify-content-around">-->
<!--                                    <button class="btn btn-outline-success w-50 hei-50">Show Info</button>-->
<!--                                    <button class="btn btn-outline-success w-50 hei-50">Add to Cart</button>-->
<!--                                </div>-->
                            </div>
                        </div>`
        $("#list-products").prepend(str);
    }

    function loadProduct(){
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "http://localhost:8080/api/products",
            type: "GET"
        }).done((data)=>{
            $.each(data,(i,item)=>{
                renderProduct(item);
            })
        }).fail((error)=>{
            console.log(error)
        })
    }

    loadProduct();
</script>
</body>
</html>