<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:replace="/layout/header :: header"/>
    <title>Wellcome to Yuld Shop</title>
</head>
<body>
<div>
    <div th:if="${user != null}">
        <div th:if="${role.getCode().equalsIgnoreCase('user')}">
            <th:block th:replace="/layout/navBar-login::navBar-login"/>
        </div>
        <div th:if="${role.getCode().equalsIgnoreCase('admin')}">
            <th:block th:replace="/layout/headerAdmin::headerAdmin"/>
        </div>
    </div>
    <div th:if="${user == null}">
        <th:block th:replace="/layout/navBar::navBar"/>
    </div>
</div>
<div>
    <th:block th:replace="/product/listProducts :: listProducts"/>
</div>
<!--modal-->
<!--modal create-->
<th:block th:replace="/modal/Create :: modalCreate"/>
<!--modal create category-->
<th:block th:replace="/modal/createCategories :: modalCreateCategory"/>

<!--modal info-->
<th:block th:replace="/modal/modalInfo :: modalInfo"/>
<!--end modal-->
<div>
    <th:block th:replace="/layout/footerJS::footerJS"/>
</div>
<script>

    let product = new Product();
    let category = new Categories();
    let cartItems = new CartItems();


    $('.dropdown-toggle').dropdown()


    //load categories
    function loadCategories() {
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "http://localhost:8080/api/categories",
            type: "GET"
        }).done((data) => {
            let str = `<button class="dropdown-item btn-category" onclick="loadProductByCategory(-1)">ALL</button>`;
            let list = `<option value="#">--categories--</option>`;
            $.each(data, (i, item) => {
                str += `<button class="dropdown-item btn-category" onclick="loadProductByCategory(${item.id})">${item.category}</button>`
                list += `<option value="${item.id}">${item.category}</option>`
            })
            document.getElementById("productCategories").innerHTML = str;
            document.getElementById("categoriesCe").innerHTML = list;
        }).fail((error) => {
        })
    }

    loadCategories();

    //show box create category
    function showBoxCreateCategory() {
        $("#mdCreateCategory").modal("show");
    }

    //create new category
    $("#btn-create-category").on('click', () => {
        category.id = 0;
        category.category = $("#categoryCe").val()
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "http://localhost:8080/api/categories",
            type: "POST",
            data: JSON.stringify(category)
        }).done((data) => {
            App.showSuccessAlert("Add new Category is successfully !")
            category = data;
            loadCategories();
            window.scroll()
            $("#categoryCe").val("");
            $("#mdCreateCategory").modal("hide");
        }).fail((err) => {
            console.log(err)
        })
    })


    function renderProduct(product) {
        unbinAll();
        let str = `
                        <div class="col-lg-3 col-md-6 col-sm-12 hei-450 mt-3 product-items">
                            <div class="p-3 h-100 w-100">
                                <div class="h-75 w-100 p-2 img-wrapper">
                                        <img class="w-100 m-auto ml-auto mr-auto blur zoom"
                                        src="${product.imgUrl}">
                                         <div class="w-100 m-auto ml-auto mr-auto content slide-down row zoom">
                                                 <div class="w-100 h-75">${product.description}</div>
                                                <div class="w-100 text-center row">
                                                        <button class="btn btn-outline-primary col-lg-6 col-md-12 btnShowInfo" data-id="${product.id}">More Info</button>
                                                        <button class="btn btn-outline-primary col-lg-6 col-md-12 btnAddToCart" data-id="${product.id}">Add to Cart</button>
                                                </div>
                                        </div>
                                </div>
                                <div class="text-center">${product.productName}</div>
                                <div class="text-center">${'$ ' + product.price}</div>
                            </div>
                        </div>`
        $("#list-products").prepend(str);
        handlerOnFunction();
    }

    function loadProduct() {
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "http://localhost:8080/api/products",
            type: "GET"
        }).done((data) => {
            $.each(data, (i, item) => {
                renderProduct(item);
            })
        }).fail((error) => {
            console.log(error)
        })
    }

    function loadProductByCategory(id) {
        let url = "http://localhost:8080/api/products/category/" + id;
        if (id === -1) {
            url = "http://localhost:8080/api/products"
        }
        $.ajax({
            url: url,
            type: "GET",
        }).done((data) => {
            $(".product-items").remove()
            $.each(data, (i, item) => {
                renderProduct(item);
            })
        }).fail((error) => {
            console.log(error)
        })
    }

    loadProduct();

    //showCreateForm

    function showModalInfo() {
        $("#mdInfo").modal("show");
    }

    $("#btn-add2cart").on("click", function () {
        console.log($(this).data("id"))
        cartItems.id = 0;
        cartItems.productId = $(this).data("id");
        cartItems.productName = $("#nameIf").val();
        cartItems.price = $("#priceIf").val();
        cartItems.quantity = $("#quantityIf").val();
        cartItems.amount = cartItems.quantity * cartItems.price;
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "http://localhost:8080/api/cart",
            type: "POST",
            data: JSON.stringify(cartItems)
        }).done((data) => {
            App.showSuccessAlert("Add to cart is successfully !")
        }).fail((error) => {
            App.showConfirmDialog("Sign in to add to cart, Do you want to login to add to cart?").then((result => {
                if (result.isConfirmed) {
                    window.location.href = "/login";
                }
            }))
        })
    })

    function showBoxInfo() {
        $(".btnShowInfo").on("click", function () {
            let id = $(this).data("id");
            findProductById(id).then((result) => {
                product = result;
                console.log(product)
                $("#imgIf").attr("src", product.imgUrl);
                $("#nameIf").val(product.productName)
                $("#priceIf").val(product.price)
                $("#typeIf").val(product.category.category)
                $("#descriptionIf").val(product.description)
                $("#btn-add2cart").data("id", product.id)
            })
            $("#mdInfo").modal("show");
        })
    }

    $("#create-products").on('click', () => {
        $("#mdCreate").modal("show");
    })

    function add2Cart() {
        $(".btnAddToCart").on("click", function () {
            let idProduct = $(this).data("id");
            App.showConfirmDialog("You wanna add this product to cart?").then(result => {
                if (result.isConfirmed) {
                    findProductById(idProduct).then(result => {
                        product = result;
                        cartItems.id = 0;
                        cartItems.price = product.price
                        cartItems.quantity = 1;
                        cartItems.amount = product.price;
                        cartItems.productName = product.productName;
                        cartItems.productId = product.id;
                        console.log(cartItems)
                        $.ajax({
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'
                            },
                            url: "http://localhost:8080/api/cart",
                            type: "POST",
                            data: JSON.stringify(cartItems)
                        }).done((data) => {
                            App.showSuccessAlert("Add to cart is successfully !")
                        }).fail((error) => {
                            App.showConfirmDialog("Sign in to add to cart, Do you want to login to add to cart?").then((result => {
                                if (result.isConfirmed) {
                                    window.location.href = "/login";
                                }
                            }))
                        })
                    })
                }
            })
        })
    }

    function handlerOnFunction() {
        showBoxInfo();
        add2Cart();
    }

    function unbinAll() {
        $(".btnShowInfo").off("click");
        $(".btnAddToCart").off("click");
    }

    //create new product
    function createNewProduct() {
        product.id = 0;
        product.productName = $("#productNameCe").val();
        product.description = $("#descriptionCe").val();
        product.quantity = $("#quantityCe").val();
        product.price = $("#priceCe").val();
        category.id = $("#categoriesCe").val();
        category.category = $("#categoriesCe option:selected").text();
        product.category = category;
        product.imgUrl = $("#fileCe").val();
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "http://localhost:8080/api/products",
            type: "POST",
            data: JSON.stringify(product),
        }).done((data) => {
            product = data;
            App.showSuccessAlert("Create New Product is success !")
            renderProduct(product);
            // var img = new FormData();
            // img.append("image", document.getElementById("fileCe").files[0]);
            // img.append("data", product.id);
            // var xhr = new XMLHttpRequest();
            // xhr.open("POST", "http://localhost:8080/file/img");
            // xhr.send(img);
        }).fail((error) => {
            App.showErrorAlert("error")
            console.log(error)
        })
    }

    //end create

    //validator form create
    var imageReg = /[\/.](gif|jpg|jpeg|tiff|png)$/i;
    $("#form-create").validate({
        rules: {
            productNameCe: {
                required: true,
                minlength: 3,
                maxlength: 20
            },
            descriptionCe: {
                required: true,
                minlength: 10,
                maxlength: 100
            },
            priceCe: {
                required: true,
                min: 1000,
                max: 1000000000
            },
            quantityCe: {
                required: true,
                min: 1,
                max: 1000
            },
            fileCe: {
                required: true
            }
        },
        submitHandler: function () {
            createNewProduct();
        }
    })
    //end validator form create

    $("#btn-create-product").on('click', () => {
        $("#form-create").submit();
    })

    //find and render
    function findProductById(id) {
        return $.ajax({
            url: "http://localhost:8080/api/products/" + id,
            type: "GET"
        }).done((data) => {
            product = data;
        }).fail((error) => {
            App.showErrorAlert("Load file is fail, please reload page !")
        })
    }

</script>
</body>
</html>