<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Deposit</title>
    <th:block th:replace="/layout/head :: head" />
</head>

<body class="h-100">
    <div class="container-fluid">
        <div class="table container-fluid w-90">
            <div class="bg-info table-title">
                <div class="row margin-left-20">
                    <div class="col-7 table-title-content text-light">
                        <h2>Deposit money into customer's account</h2>
                    </div>
                    <div class="col-5 table-title-content">
                        <a th:href="@{/customer}" class="btn btn-outline-light table-right">
                            <i class="fa-solid fa-bars"></i>
                            <span>List Of Customer</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <form th:object="${deposit}" method="post" class=" table container-fluid w-90">
            <div class="form-group row">
                <div class="col-md-6 margin-top-20">
                    <div class="form-group row">
                        <label class="form-label font-weight-bold">Customer ID</label>
                        <div class="col-sm-12">
                            <input type="text" class="w-100 form-control" id="customerID" readonly th:field="*{customerId}">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 margin-top-20">
                    <div class="form-group row">
                        <label class="form-label font-weight-bold">Full Name</label>
                        <div class="col-sm-12">
                            <input type="text" class="w-100 form-control" id="fullName" readonly th:field="${customer.fullName}">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 margin-top-20">
                    <div class="form-group row">
                        <label class="form-label font-weight-bold">Current balance ($)</label>
                        <div class="col-sm-12">
                            <input type="text" class="w-100 form-control" id="current" readonly th:field="${customer.balance}" maxlength="11">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 margin-top-20">
                    <div class="form-group row">
                        <label class="form-label font-weight-bold">Transaction Amount ($)</label>
                        <div class="col-sm-12">
                            <input type="text" class="w-100 form-control" id="transactionAmount" name="transactionAmount" th:field="*{transaction_amount}">
                        </div>
                    </div>
                </div>
                <div class="col-12 margin-top-20">
                    <button type="submit" class="btn btn-outline-success">
                        <i class="fa-solid fa-plus"></i>
                        Deposit
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="footer mb-0 w-100" style="position: fixed; bottom: 0">
        <div id="message-alert">
            <th:block th:if="${script} == true">
                <span id="close2" class="float-right">X</span>
                <div class="alert-danger">
                    <h5>Please correct errors below:</h5>
                    <ul>
                        <li th:each="err : ${#fields.errors('deposit.*')}" th:text="${err}"></li>
                    </ul>
                </div>
                <script th:inline="javascript">
                    $("#close2").on("click", function () {
                        $(".footer").css("height", 0);
                        $("#message-alert").empty();
                    });
                    $(".alert-danger").fadeTo(5000, 500).fadeOut(1000, function () {
                        $(".footer").css("height", 0);
                        $("#message-alert").empty();
                    });
                </script>
            </th:block>
            <th:block th:if="${success}">
                <span id="close" class="float-right">X</span>
                <div >
                    <h3 class="alert-success p-2" th:text="${success}" style="height: 100px">
                    </h3>
                </div>
                <script th:inline="javascript">
                    $("#close").on("click", function () {
                        $(".footer").css("height", 0);
                        $("#message-alert").empty();
                    });
                    $(".alert-success.alert-danger").fadeTo(5000, 500).fadeOut(1000, function () {
                        $(".footer").css("height", 0);
                        $("#message-alert").empty();
                    });
                </script>
            </th:block>
        </div>
    </div>
    <th:block th:replace="/layout/footer::footer"/>
</body>


</html>