<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Banking</title>
    <th:block th:replace="/layout/head :: head" />
</head>


<body>
<div>
    <div class="table container-fluid w-90">
        <div class="table-header">
            <div class="bg-info table-title">
                <div class="row">
                    <div class="col-5 table-title-content">
                        <h1>List Of Customer</h1>
                    </div>
                    <div class="col-7 table-title-content">
                        <a th:href="@{/customer/create}" class="btn btn-outline-light table-right">
                            <i class="fa-solid fa-square-plus"></i>
                            <span>Add New Customer</span>
                        </a>
                        <a th:href="@{/customer/transfer}" class="btn btn-outline-light table-right">
                            <i class="fa-solid fa-clock-rotate-left"></i>
                            <span>Transfer Money Infomation</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-tab">
            <table class="w-100">
                <thead class="w-100 border-none align-middle" style="background-color: #4CAF50">
                <tr class="float-center">
                    <th>#</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Balance</th>
                    <th colspan="4" class="table-center">Action</th>
                </tr>
                </thead>
                <tbody class="w-100 align-middle">
                <th:block th:each="customer : ${customers}">
                    <tr>
                        <td th:text="${customerStat.index+1}"></td>
                        <td th:text="${customer.fullName}"></td>
                        <td th:text="${customer.email}"></td>
                        <td th:text="${customer.phone}"></td>
                        <td th:text="${customer.address}"></td>
                        <td th:text="${#numbers.formatDecimal(customer.balance,0,'COMMA',0,'POINT')}"></td>
                        <td class="text-center">
                            <a th:href="@{/customer/deposit/__${customer.getId()}__ }"
                               class="fa-solid fa-plus border-1-radius text-color-blue deposit-hover text-decoration-none"
                               data-toggle="tooltip" data-placement="top" title="Deposit"
                            ></a>
                        </td>
                        <td class="text-center">
                            <a th:href="@{/customer/withdraw/__${customer.getId()}__ }"
                               class="fa-solid fa-minus border-1-radius text-color-yellow widthdraw-hover text-decoration-none"
                               data-toggle="tooltip" data-placement="top" title="Withdraw"
                            ></a>
                        </td>
                        <td class="text-center">
                            <a th:href="@{/transfer/__${customer.getId()}__ }"
                               class="fa-solid fa-arrow-right-arrow-left border-1-radius text-color-blue transfer-hover text-decoration-none"
                               data-toggle="tooltip" data-placement="top" title="Transfer">
                            </a>
                        </td>
                        <td class="text-center">
                            <a th:href="@{/customer/suspended/__${customer.getId()}__ }"
                               class="fa-solid fa-ban border-1-radius text-color-red suspended-hover text-decoration-none"
                               data-toggle="tooltip" data-placement="top" title="Suspended"
                            ></a>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>
<th:block th:replace="/layout/footer::footer"/>
</body>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
</html>