<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Transfer List</title>
    <th:block th:replace="/layout/head :: head" />
</head>

<body>
<div>
    <div class="table container-fluid w-90">
        <div class="table-header">
            <div class="bg-info table-title">
                <div class="row">
                    <div class="col-md-7 table-title-content">
                        <h1>Transfer money Information</h1>
                    </div>
                    <div class="col-md-5 table-title-content">
                        <a th:href="@{/customer}" class="btn btn-outline-light table-right">
                            <i class="fa-solid fa-bars"></i>
                            <span>Customer List</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-tab">
            <table class="w-100 table table-hover">
                <thead class="w-100 border-none  align-middle" style="background-color: #4CAF50">
                <tr class="float-center text-center">
                    <th>#</th>
                    <th>Sender ID</th>
                    <th>Sender Name</th>
                    <th>Recipient ID</th>
                    <th>Recipient Name</th>
                    <th>Transfer Amount ($)</th>
                    <th>Fees (%)</th>
                    <th>Fees Amount ($)</th>
                </tr>
                </thead>
                <tbody class="w-100 align-middle">
                <th:block th:each="item : ${items}">
                    <tr>
                        <td th:text="${itemStat.index+1}" class="text-center"></td>
                        <td th:text="${item.senderId}" class="text-center"></td>
                        <td th:text="${item.senderName}"></td>
                        <td th:text="${item.recipientId}" class="text-center"></td>
                        <td th:text="${item.recipientName}"></td>
                        <td th:text="${#numbers.formatDecimal(item.transferAmount,0,'COMMA',0,'POINT')}" class="text-right"></td>
                        <td th:text="${#numbers.formatDecimal(item.fees,0,'COMMA',0,'POINT')}" class="text-center"></td>
<!--                        <td th:text="${item.feesAmount}" class="text-right"></td>-->
                        <td th:text="${#numbers.formatDecimal(item.feesAmount,0,'COMMA',0,'POINT')}" class="text-right"></td>
                    </tr>
                </th:block>
                <tr class="w-100">
                    <td colspan="5"></td>
                    <td class="text-right">Total Fees Amount:</td>
                    <td colspan="2" th:text="${#numbers.formatDecimal(total,0,'COMMA',0,'POINT')}" class="text-right"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<th:block th:replace="/layout/footer::footer"/>
</body>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    Number.prototype.format = function(n, x) {
        var re = '\\d(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\.' : '$') + ')';
        return this.toFixed(Math.max(0, ~~n)).replace(new RegExp(re, 'g'), '$&,');
    };
</script>
</html>