<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <script type="text/javascript" src="/bootstrap/js/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
</head>
<style>
    body {
        box-sizing: border-box;
    }

    .w-90 {
        width: 90%;
    }

    .margin-left-20 {
        margin-left: 20px;
    }
    .margin-top-20{
        margin-top: 20px;
    }

    .table-right {
        float: right;
        box-sizing: border-box;
        margin: 10px 10px;
    }

    .table-title {
        height: 100px;
        box-sizing: border-box;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .table-title-content {
        padding: 20px 20px;
    }
    .margin-bottom-30{
        margin-bottom: 30px;
    }
</style>

<body>
    <div class="container-fluid">
        <div class="table container-fluid w-90">
            <div class="bg-info table-title">
                <div class="row margin-left-20">
                    <div class="col-7 table-title-content text-light">
                        <h1>Suspension of customers</h1>
                    </div>
                    <div class="col-5 table-title-content">
                        <a th:href="@{/customer}" class="btn btn-outline-light table-right">
                            <i class="fa-solid fa-bars"></i>
                            <span>List Of Customer</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <form th:object="${customer}" method="post" class=" table container-fluid w-90">
            <div class="form-group row">
                <div class="col-md-6 margin-top-20">
                    <div class="form-group row">
                        <label class="form-label font-weight-bold">Full Name</label>
                        <div class="col-sm-12">
                            <input type="text" class="w-100 form-control" id="fullName" readonly th:field="${customer.fullName}">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 margin-top-20">
                    <div class="form-group row">
                        <label class="form-label font-weight-bold">Email</label>
                        <div class="col-sm-12">
                            <input type="text" class="w-100 form-control" id="email" readonly th:field="*{email}">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 margin-top-20">
                    <div class="form-group row">
                        <label class="form-label font-weight-bold">Phone</label>
                        <div class="col-sm-12">
                            <input type="text" class="w-100 form-control" id="phone" readonly th:field="${customer.phone}" maxlength="11">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 margin-top-20">
                    <div class="form-group row">
                        <label class="form-label font-weight-bold">Address</label>
                        <div class="col-sm-12">
                            <input type="text" class="w-100 form-control" id="address" name="address" th:field="${customer.address}">
                        </div>
                    </div>
                </div>
                <div class="col-12 margin-top-20">
                    <th:block th:if="${suspended}==null">
                        <button type="submit" class="btn btn-outline-danger">
                            <i class="fa-solid fa-plus"></i>
                            Suspended
                        </button>
                    </th:block>
                </div>
            </div>
        </form>
    </div>
<div class="footer w-100" style="bottom: 0; position: fixed">
    <th:block th:if="${success}!=null">
        <div >
            <h5 class="alert-success pt-2 pl-2" th:text="${success}" style="height: 100px">
            </h5>
        </div>
    </th:block>
</div>
</body>

</html>