body {
    box-sizing: border-box;
}

.w-90 {
    width: 90%;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-top-20 {
    margin-top: 20px;
}

.table-right {
    float: right;
    box-sizing: border-box;
    margin: 10px 10px;
}

.table-title {
    height: 100px;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.table-title-content {
    padding: 20px 20px;
}

#message-alert {
    width: 100vw;
    position: fixed;
    bottom: 0;
}

.hide {
    display: none;
}

.alert-danger {
    padding: 1rem 135px;
}

.alert-danger>label {
    display: list-item;
}

.valid {
    color: blue;
    list-style-type: none;
}
.border-1-radius {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}
.deposit-hover:hover {
    background-color: rgb(17, 168, 17);
    color: aliceblue;
    cursor: pointer;
}
.text-color-blue {
    color: blue;
}

.text-color-yellow {
    color: rgb(206, 177, 33);
}

.text-color-red {
    color: red;
}

.withdraw-hover:hover {
    background-color: rgb(206, 177, 33);
    color: black;
    cursor: pointer;
}

.transfer-hover:hover {
    background-color: rgb(82, 96, 249);
    color: aliceblue;
    cursor: pointer;
}

.suspended-hover:hover {
    color: aliceblue;
    background-color: rgb(201, 23, 23);
    cursor: pointer;
}
.hidenpage{
    position: absolute;
    width: 100%;
    height: 710px;
    background-color: rgb(186, 188, 190,0.3);
    top: 0px;
}
.box-create{
    position: absolute;
    width: 50%;
    height: 50%;
    top: 150px;
    left: 350px;
    background-color: rgb(186, 188, 190);
}
.box-deposit{
    position: absolute;
    width: 50%;
    height: 50%;
    top: 150px;
    left: 300px;
    background-color: rgb(186, 188, 190);
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.img-wrapper{
    position: relative;
    overflow: hidden;
}

.img-wrapper>img{
    display: block;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}

.img-wrapper> .content{
    position: absolute;
    inset: 0;
    font-size: 2rem;
    padding: 1rem;
    background: rgba(225,225,225,.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-wrapper>img,
.img-wrapper> .content{
    transition: 200ms ease-in-out;
}

.img-wrapper:hover > img.blur{
    filter: blur(20px);
}

.img-wrapper:hover > .zoom{
    transform: scale(1.1);
}

.img-wrapper > .content.fade{
    opacity: 0;
}
.img-wrapper:hover > .content.fade{
    opacity: 1;
}
.img-wrapper > .slide-left{
    transform: translateX(-100%);
}
.img-wrapper:hover > .slide-left{
    transform: translateX(0);
}
.img-wrapper > .slide-right{
    transform: translateX(100%);
}
.img-wrapper:hover > .slide-right{
    transform: translateX(0);
}
.img-wrapper > .slide-down{
    transform: translateY(-100%);
}
.img-wrapper:hover > .slide-down{
    transform: translateY(0);
}
.img-wrapper > .slide-up{
    transform: translateY(100%);
}
.img-wrapper:hover > .slide-up{
    transform: translateY(0);
}
.hei-350{
    height: 450px;
}