<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="footer">
    <script src="https://kit.fontawesome.com/dccec83b30.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/bootstrap/js/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="/bootstrap/js/jquery.validate-1.19.3.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="/bootstrap/js/popper-v1.16.0.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/bootstrap/js/customer-validate.js"></script>
</th:block>